<input id="trip_duration" value="<%= trip.trip_duration * 3 %>" hidden>

<h1 align="center">Add Destinations<img class="header-logo" src="/travelbug3_hollow_blackish.svg" width="15px"></h1>

<%= form_for trip, url: create_destinations_path, html: {class: "form-style-9", style: "padding-top: 10px;"} do |f| %>
  <% count = 1%>
  <% dest_count = 1 %>
  <% trip.trip_duration.times do %>

    <h3 align="center" style="font-size: 40px;">Day <%=count%></h1>

    <!-- form to fill in the table -->
    <table align="center">
      <thead>
        <tr>
          <th>Location</th>
          <th>Category</th>
          <th>Stars</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <% trip.destinations_of_specific_day(count).each do |destination| %>

            <%= f.fields_for :destinations, destination do |dest| %>
            <tr>
            <%= dest.hidden_field :description, {id: "google_desc_#{dest_count}"}%>
            <%= dest.hidden_field :photo_url_1, {id: "google_photo_0_#{dest_count}"}%>
            <%= dest.hidden_field :photo_url_2, {id: "google_photo_1_#{dest_count}"}%>
            <%= dest.hidden_field :photo_url_3, {id: "google_photo_2_#{dest_count}"}%>
            <%= dest.hidden_field :name, {id: "google_name_#{dest_count}"} %>
            <%= dest.hidden_field :address, {id: "google_address_#{dest_count}"} %>
            <%= dest.hidden_field :dest_location_name, {id: "google_location_#{dest_count}"} %>
            <!-- input -->
              <td style="padding-right: 20px;">
                <div class="pac-card" id="pac-card-<%=dest_count%>">
                  <div id="pac-container">
                    <input id="pac-input-<%= dest_count %>" type="text" placeholder="Enter a location" value="<%= destination.name %>", style="margin-right: 50px;">
                  </div>
                </div>
                <div id="map"></div>
                <% dest_count += 1 %>
              </td>
              <td style="padding-right: 20px; width: 120px;"><%=dest.collection_select :category, Destination.category, :to_s, :to_s%></td>

              <% rating = destination.user_destination_rating(current_user) %>
              <%= dest.fields_for :ratings, rating do |rating| %>
              <td class="rating_td">
                <fieldset>
                    <span class="star-cb-group stars">
                    <input type="radio" id="rating-5" name="rating[stars]" value="5" /><label for="rating-5">5</label>
                    <input type="radio" id="rating-4" name="rating[stars]" value="4" /><label for="rating-4">4</label>
                    <input type="radio" id="rating-3" name="rating[stars]" value="3" /><label for="rating-3">3</label>
                    <input type="radio" id="rating-2" name="rating[stars]" value="2" /><label for="rating-2">2</label>
                    <input type="radio" id="rating-1" name="rating[stars]" value="1" /><label for="rating-1">1</label>
                    <input type="radio" id="rating-0" name="rating[stars]" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                  </span>
                </fieldset>
              </td>
                <td style="padding-right: 20px; resize: none;" data-role="none"><%=rating.text_area :note%></td>
              <% end %>


              <%=dest.hidden_field :day, value: count%>
            </tr>
            <% end %>

          <% end %>


          <!-- end loop -->
        </tr>
      </tbody>
    </table>
    <% count += 1 %>
  <% end %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCozNzitv9TtJWxxAilV3PgGAtSobGc3vM&libraries=places&callback=initialize" async defer></script>
  <%= f.submit "Add Destinations", style: "float: right;" %>
  <!-- <%= f.submit "Hope this works", style: "float: right;" %> -->
<% end %>
