<style>
.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
    width 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}
</style>

<input id="trip_duration" value="3" hidden>

<%= form_for trip, html: {class: "form-style-8"} do |f| %>
  <%= f.label :title, style: "font-weight:bold" %>
  <%= f.text_field :title %>

  <br>

  <%= f.label :blurb, style: "font-weight:bold" %>
  <%= f.text_field :blurb %>

  <br>
  <div class="two-col">
    <div class="col1">
      <%= f.label :start_date, style: "font-weight:bold" %>
      <%= f.date_field :start_date %>
    </div>

    <div class="col2">
      <%= f.label :end_date, style: "font-weight:bold" %>
      <%= f.date_field :end_date %>
    </div>
  </div>
  <br>

  <%= f.label :intensity, style: "font-weight:bold" %>
  <!-- <%= f.range_field :intensity, in: 1..5 %><br> -->
  <fieldset>
    <span class="star-cb-group">
      <input type="radio" id="rating-5" name="trip[intensity]" value="5" /><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="trip[intensity]" value="4" /><label for="rating-4">4</label>
      <input type="radio" id="rating-3" name="trip[intensity]" value="3" /><label for="rating-3">3</label>
      <input type="radio" id="rating-2" name="trip[intensity]" value="2" /><label for="rating-2">2</label>
      <input type="radio" id="rating-1" name="trip[intensity]" value="1" /><label for="rating-1">1</label>
      <input type="radio" id="rating-0" name="trip[intensity]" value="0" checked="checked" class="star-cb-clear" /><label for="rating-0">0</label>
    </span>
  </fieldset>

  <br>


  <label style="font-weight:bold">Locations</label><br>
  <!-- Showing existing locations -->

  <% locations = trip.locations.collect {|loc| loc.make_location_name} %>
  <% [0,1,2].each do |n| %>
  <input type="string" name="trip[location_names][]" id="google_location_<%= n %>" hidden><br>
  <div class="pac-card" id="pac-card-<%=n%>">
    <div id="pac-container">
      <input id="pac-input-<%= n %>" type="text" placeholder="Enter a location" value="<%=(locations[n] == ', ') ? nil : locations[n]%>">
    </div>
  </div>
  <div id="map"></div>
  <% end %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCozNzitv9TtJWxxAilV3PgGAtSobGc3vM&libraries=places&callback=initialize" async defer></script>

  <input type="hidden" name="trip[user_id]" value="<%=session[:user_id]%>">

  <%= f.submit style: "float: right;" %>

<% end %>
