<input id="trip_duration" value="3" hidden>

<%= form_for trip do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <br>

  <%= f.label :blurb %>
  <%= f.text_field :blurb %>

  <br>

  <%= f.label :start_date %>
  <%= f.date_field :start_date %>

  <br>

  <%= f.label :end_date %>
  <%= f.date_field :end_date %>

  <br>

  <%= f.label :intensity %>
  <%= f.range_field :intensity, in: 1..5 %>

  <br>

  <label>Locations</label>

  <% [1,2,3].each do |n| %>
  <input type="text" name="trip[location_names][]" id="google_location_<%= n %>" hidden><br>
  <div class="pac-card" id="pac-card-<%=n%>">
    <div id="pac-container">
      <input id="pac-input-<%= n %>" type="text" placeholder="Enter a location">
    </div>
  </div>
  <div id="map"></div>
  <% end %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCozNzitv9TtJWxxAilV3PgGAtSobGc3vM&libraries=places&callback=initialize" async defer></script>

  <input type="hidden" name="trip[user_id]" value="<%=session[:user_id]%>">

  <%= f.submit %>

<% end %>
