<%= form_for trip do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <br>

  <%= f.label :blurb %>
  <%= f.text_field :blurb %>

  <br>

  <%= f.label :start_date %>
  <%= f.date_field :start_date %>

  <br>

  <%= f.label :end_date %>
  <%= f.date_field :end_date %>

  <br>

  <%= f.label :intensity %>
  <%= f.range_field :intensity, in: 1..5 %>

  <br>

  <label>Locations</label>

  <script>
    function initialize() {
      initMap1();
      initMap2();
    }
  </script>
  <input type="text" name="trip[location_names][]" id="google_location_1" hidden><br>
  <div class="pac-card" id="pac-card">
    <div id="pac-container">
      <input id="pac-input" type="text" placeholder="Enter a location">
    </div>
  </div>
  <div id="map"></div>
  <script>
    function initMap1() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -33.8688, lng: 151.2195},
        zoom: 13
      })
      var card = document.getElementById('pac-card')
      var input = document.getElementById('pac-input')
      var autocomplete = new google.maps.places.Autocomplete(input)
      autocomplete.bindTo('bounds', map)
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace()
        $("#google_location_1").val(place.adr_address)
      })
    }
  </script>

  <br>

  <input type="text" name="trip[location_names][]" id="google_location_2" hidden><br>
  <div class="pac-card" id="pac-card-2">
    <div id="pac-container">
      <input id="pac-input-2" type="text" placeholder="Enter a location">
    </div>
  </div>
  <div id="map"></div>
  <script>
    function initMap2() {
      var map2 = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -33.8688, lng: 151.2195},
        zoom: 13
      })
      var card = document.getElementById('pac-card-2')
      var input = document.getElementById('pac-input-2')
      var autocomplete2 = new google.maps.places.Autocomplete(input)
      autocomplete2.bindTo('bounds', map2)
      autocomplete2.addListener('place_changed', function() {
        var place = autocomplete2.getPlace()
        $("#google_location_2").val(place.adr_address)
      })
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCozNzitv9TtJWxxAilV3PgGAtSobGc3vM&libraries=places&callback=initialize" async defer></script>

  <input type="hidden" name="trip[user_id]" value="<%=session[:user_id]%>">


  <%= f.submit %>

<% end %>
