<h1 align="center">Trips<img class="header-logo" src="/travelbug3_hollow_blackish.svg" width="15px"></h1>

<!-- Search Bar -->

<%= form_tag trip_search_path, method: "get", class: 'form-style-8' do %>
  <span style="font-weight:bold; font-size:20px;">Search Trips</span>

  <br></br>

  Location <%= text_field_tag 'search[location]'%><br>
  Days <%= number_field_tag 'search[days]'%><br>
  All Friends? <%= check_box_tag 'search[qfriends]'%>
  <%= submit_tag "Search", style: "float: right;" %>
<% end %>


<!-- Show All Trips Section -->

<hr>
<h2 class="trip_header">Trips Feed</h2>

<% @trips.each do |trip| %>
  <div class="listing_container">
    <div class="side_empty"></div>
    <div class="listing_photo">
      <% destination = trip.destinations.first %>
      <img class="listing_image" src="<%=destination.try(:photo_url_1)%>">
    </div>
    <div class="listing_details">
      <div class="trip_title"><%=trip.title%> | <span class="trip_user_name"><%=link_to trip.user.name, user_path(trip.user)%></span></div>
          <p>
            <% if trip.total_votes.to_i >= 0 %>
            <span class="up_vote_arrow">
            Trending: &#8679;  <%= trip.total_votes %> Votes</p>
            <% else %>
            <span class="down_vote_arrow">
            Trending: &#8681;  <%= trip.total_votes %> Votes</lp>
            <% end %>
            </span>
          <hr>
          <p>Days: <%=trip.trip_duration%>   |   Intensity:
            <% trip.intensity.times do %>
            &#128293;
            <% end %>
          </p>

          <p class="trip_deets">Blurb: <%= trip.blurb %></p>
          <p class="trip_deets">Cities:
            <% trip.locations.each do |location| %>
              <%= location.city %>,
            <% end %>...
          </p>
          <p class="trip_deets destination_deets">Some Destinations:
            <% trip.first_three_destinations.each do |dest| %>
              <%= link_to dest.name, destination_path(dest) %>,
            <% end %>...
          </p>
    </div>
    <div class="more_info">
      <div class="button_empty"></div>
      <div class="button_area"><%=link_to "More Info", trip_path(trip), class: "more_info_button" %></div>
      <div class="button_empty"></div>
    </div>
    <div class="side_empty"></div>
  </div>
<% end %>
