<h1>Trips</h1>

<!-- Search Bar -->
<h4>Search Trips</h4>
<%= form_tag trip_search_path, method: "get" do %>
  Location: <%= text_field_tag 'search[location]'%> <br>
  Days: <%= number_field_tag 'search[days]'%> <br>
  All Friends?: <%= check_box_tag 'search[qfriends]' %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
<% @trips.each do |trip| %>
  <li><%=link_to trip.title, trip_path(trip) %></li>
    <ul>
      <li>By: <%= trip.user.name %></li>
      <li>Total Days: <%=trip.trip_duration%> | Intensity: <%=trip.intensity%></li>
      <li>Blurb: <%= trip.blurb %></li>
      <li>Some Destinations:
        <% trip.first_three_destinations.each do |dest| %>
          <%= link_to dest.name, destination_path(dest) %>,
        <% end %>...
      </li>
    </ul>

<% end %>
</ul>
