<!-- Title Section -->
<div class="title_container">
  <div class="title_empty"></div>
  <div class="title_child">
    <h1><%= @trip.title %><img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>
    <div class="title_user_child">By <%= @trip.user.name %></div>
  </div>
  <div class="title_empty"></div>
</div>
<hr>

<% if @trip.user == current_user %>
  <%= link_to "Edit Trip", edit_trip_path(@trip)%>
<% end %>
<% days = @trip.trip_duration %>
<h2>Date: <%= @trip.start_date %> - <%= @trip.end_date %></h2>
<h2>Days: <%= days %></h2>
<h2>Key Cities:
  <ul>
    <% @trip.locations.each do |location| %>
    <li><%= location.make_location_name %></li>
    <% end %>
  </ul>
</h2>
<h2>Intensity: <%= @trip.intensity %></h2>
<h2>Vote Trending: <%= @trip.total_votes%></h2>
<%= link_to "Add A Review", new_trip_review_path(@trip) %>

<hr>

<% count = 1 %>
<% days.times do %>
<% if !@trip.trip_destinations_by_day(count).empty? %>
<h2>Day <%=count%></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Rating</th>
      <!-- <th>What Others Say</th> -->
      <th>City</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @trip.trip_destinations_by_day(count).each do |destination| %>
    <tr>
      <td><%=link_to destination.name, destination_path(destination) %></td>
      <td><%= destination.category %></td>
      <td><%= destination.owner_rating(@trip).try(:stars) %></td>
      <!-- <td><%= destination.description %></td> -->
      <td><%= destination.location.city %></td>
      <td><%= destination.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>
<% end %>
<% count += 1 %>
<% end %>

<ul>
  <% @trip.reviews.each do |review|%>
  <li><%=link_to review.reviewer.name, user_path(review.reviewer)%>:
    <ul>
      <li><%= link_to review.comment, trip_review_path(@trip, review)%></li>
    </ul>
  </li>
  <% end %>
</ul>
