<h1 align="center">Log In<img class="header-logo" src="/travelbug3_hollow_blackish.svg" width="15px"></h1>

<%= form_tag login_path, class: 'form-style-8' do %>

<%= label_tag :name %>
<%= text_field_tag :name %>

<br>

<%= label_tag :password %>
<%= password_field_tag :password %>

<br>

<%= submit_tag "Log In", style: "float: right;" %>

<% end %>
