<h1 align="center">Sign Up<img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>

<%= form_for @user, html: {class: "form-style-8"} do |f|%>

<%= f.label :name %>
<%= f.text_field :name %>

<br>

<%= f.label :user_photo_url %>
<%= f.text_field :user_photo_url %>

<br>

<%= f.label :password %>
<%= f.password_field :password%>

<br>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<br>

<%= f.submit style: "float: right;" %>

<%end%>
