<div class="user_profile_container">
  <!-- user profile section -->
  <div class="empty"></div>
  <div class="name">
    <div class="name-button-wrapper">
      <div class="user_image"><img src="http://cdn.skim.gs/image/upload/v1456344012/msi/Puppy_2_kbhb4a.jpg" alt="profile picture"></div>
      <div class="user_name"><%=@user.name%></div>
      <div class="social_button">
        <% if @user != current_user %>
          <% if @user.followers.include?(current_user) %>
            <%= link_to "Following", destroy_relationship_path(@user.id), method: :delete, class: "unfollow_button"%>
          <% else %>
            <%= link_to "Follow", new_relationship_path(@user.id), method: :post, class: "follow_button"%>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="trips_intensity_wrapper">
      <div class="t_trips"><span class="total_trips"><%= @user.trips.size %> Trips</span></div>
      <div class="u_intensity"><span class="user_intensity"><%= User.intensity_level(@user.average_intensity) %> Traveler</span></div>
    </div>

    <div class="followers_wrapper">
    <%= link_to "#{@user.num_of_followers} followers", followers_path(@user)  %> &nbsp;<%= link_to "following #{@user.num_of_followees}", followees_path(@user)  %>
    </div>

  </div>
  <div class="empty"></div>
</div>

<!-- Trips Section -->
<hr>
<h2 class="trip_header">Recent Trips</h2>
<% @trips = @user.sort_by_recent_trips(@user.trips) %>

<% @trips.each do |trip| %>
  <div class="listing_container">
    <div class="side_empty"></div>
    <div class="listing_details">
      <div class="trip_title"><%=trip.title%></div>
          <p>
            <% if trip.total_votes.to_i >= 0 %>
            <span class="up_vote_arrow">
            Trending: &#8679;  <%= trip.total_votes %> Votes</p>
            <% else %>
            <span class="down_vote_arrow">
            Trending: &#8681;  <%= trip.total_votes %> Votes</lp>
            <% end %>
            </span>
          <hr>
          <p>Days: <%=trip.trip_duration%>   |   Intensity:
            <% trip.intensity.times do %>
            &#128293;
            <% end %>
          </p>

          <p class="trip_deets">Blurb: <%= trip.blurb %></p>
          <p class="trip_deets">Cities:
            <% trip.locations.each do |location| %>
              <%= location.city %>,
            <% end %>...
          </p>
          <p class="trip_deets destination_deets">Some Destinations:
            <% trip.first_three_destinations.each do |dest| %>
              <%= link_to dest.name, destination_path(dest) %>,
            <% end %>...
          </p>
    </div>
    <div class="more_info">
      <div class="button_empty"></div>
      <div class="button_area"><%=link_to "More Info", trip_path(trip), class: "more_info_button" %></div>
      <div class="button_empty"></div>
    </div>
    <div class="side_empty"></div>
  </div>
<% end %>
