<h1 align="center">Edit Review<img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>
<%= form_for [@destination, @rating],url: {controller: 'ratings', action: 'update'}, method: :patch, html: {class: "form-style-8"} do |f| %>
<%= f.label :note %>
<%= f.text_field :note %>
<br>
<%= f.label :stars %> <br>
<%= f.range_field :stars, min: 1, max: 5%>
<br>
<%= f.submit %>
<% end %>
