<h1 align="center">Destinations<img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>

<!-- Search Bar -->

<%= form_tag destination_search_path, method: "get", class: 'form-style-8' do %>
  <strong style="font-size: 20px;">Search Destinations</strong>

  <br></br>

  Name: <%= text_field_tag 'search[qname]' %> <br>
  Location: <%= text_field_tag 'search[qlocation]'%> <br>
  Category: <%= select_tag 'search[qcategory]', options_for_select([nil]+Destination.category)%> <br>
  <%= submit_tag "Search", style: "float: right;" %>
<% end %>
<hr>
<ol>
<% @destinations.each do |dest| %>
  <li><%=link_to dest.name, destination_path(dest) %></li>
    <ul>
      <li>Avg Rating: <%= dest.dest_average_rating %></li>
      <li>Description: <%= dest.description %></li>
      <li>Address: <%= dest.address %></li>
      <li>Category: <%= dest.category %></li>
    </ul>

<% end %>
</ol>
