<h1 align="center">Destinations<img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>

<!-- Search Bar -->

<%= form_tag destination_search_path, method: "get", class: 'form-style-8' do %>
  <strong style="font-size: 20px;">Search Destinations</strong>

  <br></br>

  Name: <%= text_field_tag 'search[qname]' %> <br>
  Location: <%= text_field_tag 'search[qlocation]'%> <br>
  Category: <%= select_tag 'search[qcategory]', options_for_select([nil]+Destination.category)%> <br>
  <%= submit_tag "Search", style: "float: right;" %>
<% end %>
<hr>

<!-- All Destinations Section -->

<% @destinations.each do |dest| %>
<div class="listing_container">
  <div class="side_empty"></div>
  <div class="listing_details">
    <div class="dest_title"><p><%=dest.name%></p></div>
    <p> <span class="dest_rating_<%=dest.dest_average_rating%>">
    </span>&nbsp;&nbsp;<%= dest.ratings.size %> Review(s) </p>
    <p class="trip_deets">What Peeps Say: <%= dest.description %></p>
    <p class="trip_deets">Address: <%= dest.address %></p>
  </div>
  <div class="more_info">
    <div class="button_empty"></div>
    <div class="button_area"><%=link_to "More Info", destination_path(dest), class: "more_info_button" %></div>
    <div class="button_empty"></div>
  </div>
  <div class="side_empty"></div>
</div>
<% end %>
