<h1><%= @destination.name %><img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>

<hr>

<h2>What Others Say</h2>
<%= @destination.description %> <br><br>

<h2>Address</h2>
<%= @destination.address %> <br><br>

<h2>Category</h2>
<%= @destination.category %> <br><br>

<h2>Location</h2>
<%= @destination.location.city %> <br><br>

<h2>Rating</h2>
<%= @destination.dest_average_rating%>
<br>
<%= link_to "Add A Destination Review", new_destination_rating_path(@destination) %>

<hr>

<h2>Destination Ratings</h2>

<ul>
  <% @destination.ratings.each_with_index do |rating, i|%>
  <li><%= link_to rating.user.name, user_path(rating.user) %> | <%= rating.stars %> Stars
    <ul>
      <li>Comment: <%= link_to rating.note, edit_destination_rating_path(@destination, rating) %></li>
    </ul>
  </li>
  <% end %>
</ul>
