<h1 align="center">Edit Review<img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>
<%= form_for [@trip, @review], url: {controller: 'reviews', action: 'update'}, method: :patch, html: {class: "form-style-8"} do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  <br>
  <%= f.label :vote %> <br>
  <%= f.radio_button :vote, "1"%> Upvote <br>
  <%= f.radio_button :vote, "-1"%> Downvote <br>
  <br>
  <%= f.submit %>
<% end %>
